<!-- Although this is a messages view it is only ever rendered as a partial by the users/show.html.erb view indicated by the
underscore at the beginning of its file name. This is a rails form which submits the inputs from the fields at the bottom
to the messages# create controller action which creates a new message object in the database. The hidden fields pass parameters
back to the controller but dont take user input and are not visible to the user -->
<h1>New message</h1>
<% if @current_user %>
  <%= form_for(new_message) do |f| %>
    <% if new_message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(new_message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% new_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
        <!-- this is the form for new_message it collects data for a message and then sends it to the controller which creates
        the message in the database -->

      <%= f.label :body %><br>
      <!-- f.label just creates a title, its not submitting any data through the form -->

      <%= f.text_field :body %>
            <!-- f.text is an input field which is submitted with the form as a property of the message -->

      <%= f.hidden_field :owner_id, value: @owner.id %>
      <!-- <<< create another hidden field for author_id where the value is the user id of the current_user >>> -->
        <!-- f.hidden_field has no visible field in the form. It just submits data with the form -->

    </div>
    <div class="actions">
      <%= f.submit %>
      <!-- the submit button  -->
    </div>
  <% end %>
<% else %>
  <p> Choose a user on the Home page to sign in as so you can leave messages</p>
<% end %>