<!-- ********************************************************************
Description: the messages form partial
Routing info: <%#= render 'messages/form' %> will render this partial

This partial is a form for creating a new message. Because we may want to create new messages in multiple places in the app it is better to put it in a partial. That way whenever we want a message form we can just render the partial.

This form uses the rails "form_for" helper to generate a HTML form for
creating a new message in our database
The helper intelligently knows which route to submit the form to based on the class of the object we pass into it (message in this case)

It will pass the values entered in the fields  to the controller method via a hash called params when it is submitted

more info for form_for at http://apidock.com/rails/ActionView/Helpers/FormHelper/form_for
******************************************************************** -->




<h1>New message</h1>
<% if @current_user %>
  <%= form_for(message) do |f| %>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% message.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
      <%= f.hidden_field :owner_id, value: @owner.id %>
      <%= f.hidden_field :author_id, value: @current_user.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p> Choose a user on the Home page to sign in as so you can leave messages</p>
<% end %>