<h1>New message</h1>
<% if @current_user %>
  <%= form_for(message) do |f| %>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% message.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
      <%= f.hidden_field :owner_id, value: @owner.id %>
      <%= f.hidden_field :author_id, value: @current_user.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p> Choose a user on the Home page to sign in as so you can leave messages</p>
<% end %>