<!-- A rails form.  The "form_for@new user" submits the data from the fields at the bottom which match
up with the attributes on the user model to the users#create action as parameters. That controller then creates
that user in the database, makes it the ccurrent user and reroutes to that user's page -->
<div class="signup-form">
  <%= form_for(@new_user) do |f| %>
    <% if @new_user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @new_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
