<div class="user-show">
  <div class="user-info">
    <div class="gravatar">
      <%= gravatar_for(@owner) %>
    </div>
    <div>
      <ul class="deets">
        <li><%= @owner.name %></li>
      </ul>
    </div>
  </div>
  <div class="messages">
    <div class="new-message">
      <%= render partial: "messages/form", locals: { message: @new_message} %>
    </div>

    <% if @owner.messages.any? %>
      <div class="message-index">
        <%= render partial: "messages/message", collection: @messages %>
      </div>
    <% else %>
      <h1><%= @owner.name %> has no messages</h1>
    <% end %>
  </div>
</div>

