<!-- The header markup. Uses twitter bootstrap -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <%= link_to (image_tag "logo.jpg"), root_url %>
        <%= link_to "Fedora Space", root_url, class: 'brand-name' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <div class="current-user">
            <%= @current_user.name %>
            <div class="avatar">
                <%= gravatar_link(@current_user) %>
            </div>
          </div>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <div class="no-user">
            <p>Click "Be Me" to sign in as a user</p>
          </div>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
