<!-- ********************************************************************
Description: the home index template
Routing info: Rendered by the index method of the home controller

All templates that your rails app renders get rendered inside of here.The yield in the middle is where the template rendered by the controller and all of its inner partials are displayed.

By rendering the header inside of here we make sure it is available on all pages.
******************************************************************** -->



<!DOCTYPE html>
<html>
  <head>
    <title>PresentationPractice</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

  </body>
</html>
